:root {
    --ms_main-color1: #1ABC9C;
    --ms_main-color2: #FFF;
    --ms_main-color3: #2C3E50; 
    --ms_main-color4: #3A546D;
}

.bgc-1 {
    background-color: var(--ms_main-color1)
}

.bgc-2 {
    background-color: var(--ms_main-color2);
}

.bgc-3 {
    background-color: var(--ms_main-color3);
}

.bgc-4 {
    background-color: var(--ms_main-color4);
}


.line {
    display: inline-block;
    height: 2px;
    width: calc(100% / 8);
}

#avatar {
    object-fit: cover;
    max-width: 200px;
}

.ms_input-border {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid lightgray;
}